<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-title i18n="@@loginTitle">Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label i18n="@@emailLabel">Email</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18n="@@passwordLabel">Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" i18n="@@loginButton">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>